<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>SmartFac</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>AssetServlet</servlet-name>
    	<servlet-class>com.mindmax.smart.servlet.AssetServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>AssetServlet</servlet-name>
		<url-pattern>/getAssetDetails</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SmartCheckServlet</servlet-name>
    	<servlet-class>com.mindmax.smart.servlet.SmartCheckServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>SmartCheckServlet</servlet-name>
		<url-pattern>/getSmartCheckDetails</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SmartElectronicsServlet</servlet-name>
    	<servlet-class>com.mindmax.smart.servlet.SmartElectronicsServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>SmartElectronicsServlet</servlet-name>
		<url-pattern>/getSmartElectronicsDetails</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SmartCorrectServlet</servlet-name>
    	<servlet-class>com.mindmax.smart.servlet.SmartCorrectServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>SmartCorrectServlet</servlet-name>
		<url-pattern>/getSmartCorrectDetails</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>SmartInsertServlet</servlet-name>
    	<servlet-class>com.mindmax.smart.servlet.SmartInsertServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>SmartInsertServlet</servlet-name>
		<url-pattern>/getSmartInsertDetails</url-pattern>
	</servlet-mapping>		
</web-app>